.header {
  display: flex;
  align-items: center;
}
.header h2 {
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: normal;
}

.counter {
  width: 1.1rem;
  height: 1.8rem;
  font-size: 1.6rem;
  background-color: var(--nice-blue);
  color: var(--white);
  padding: 0.2rem 0.9rem;
  border-radius: 0.4rem;
  margin-left: 0.5rem;
}

.body {
  margin-top: 2.9rem;
  text-align: center;
}

.body h3,
.body p {
  text-align: center;
}

.body h3 {
  font-size: 1.6rem;
  color: #1a181e;
  line-height: 1.5;
}

.body p {
  font-size: 1.4rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  color: #808080;
}

/* tablets */
@media (max-width: 1024px) {
  .body img {
    width: 12.3rem;
    height: 13.2rem;
  }
}

@media (max-width: 768px) {
  .body img {
    width: 12.3rem;
    height: 13.2rem;
  }
}
