.containerFluid {
  height: 32.1rem;
  background-color: #1a181e;
  color: var(--white);
  box-sizing: border-box;
}

.container {
  margin: 0 16.2rem;
  box-sizing: border-box;
}

.guaranteeContainer {
  height: 17.6rem;
  box-sizing: border-box;
}

.shopFeatures {
  padding-top: 4rem;
  padding-bottom: 4rem;
  display: flex;
  justify-content: space-around;
  text-align: center;
  font-weight: 500;
}

.shopFeatures img {
  padding-bottom: 0.8rem;
}

.shopFeatures p {
  font-size: 1.6rem;
}

.shopFeatures p span {
  font-size: 1.4rem;
  font-family: GalanoGrotesqueRegular;
}

hr {
  border: 1px solid var(--white);
  opacity: 0.1;
  margin-bottom: 3.2rem;
}

.storeDetails {
  text-align: center;
}

.storeDetails h2 {
  font-family: GalanoGrotesqueRegular;
  opacity: 0.6;
  font-size: 1.5rem;
  padding-bottom: 1.2rem;
  font-width: normal;
}

.storeDetails .storeName {
  font-size: 1.6rem;
  line-height: 1.5;
  padding-bottom: 0.5rem;
  font-weight: 500;
}

.storeDetails .storeAddress {
  font-family: GalanoGrotesqueRegular;
  font-size: 1.4rem;
  line-height: 1.4;
  font-weight: normal;
}

.contact {
  display: none;
}

@media (max-width: 576px) {
  .container {
    margin: 0 1.6rem;
  }

  .shopFeatures {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2rem;
    padding-top: 2.2rem;
    padding-bottom: 1.6rem;
  }

  .shopFeatures img {
    width: 4.8rem;
    height: 4.8rem;
  }

  .shopFeatures p {
    font-size: 1.2rem;
  }

  hr {
    margin-bottom: 1.6rem;
  }

  .storeDetails h2 {
    font-size: 1.4rem;
  }

  .storeDetails .storeName {
    font-size: 1.5rem;
  }

  .contact {
    display: flex;
    justify-content: center;
    padding-top: 1.2rem;
    text-align: center;
  }

  .menu {
    width: 4.8rem;
    height: 4.8rem;
    border-radius: 24px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
    background-color: #4d4d4d;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -4rem;
    left: 85%;
  }
}
