.container {
  display: flex;
  margin-bottom: 3.2rem;
  width: 100%;
  height: 12rem;
}

.imageSection {
  width: 12rem;
  height: 12rem;
}

.itemImage {
  width: 12rem;
  height: 12rem;
}

.discountSection {
  border-radius: 0.4rem;
  background-color: #ee741f;
  padding: 0.4rem 0.8rem;
  font-size: 1.2rem;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: var(--white);
  display: inline;
  position: relative;
  top: -0.75rem;
  right: -2.88rem;
}

.detailsSection {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin: 0 2rem;
  width: 100%;
}

.detailsSection h1 {
  font-size: 1.8rem;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: #1a181e;
  padding-bottom: 0.8rem;
  padding-top: 1.4rem;
}

.detailsSection p {
  padding-bottom: 1.2rem;
  font-size: 1.4rem;
  font-weight: normal;
  font-family: GalanoGrotesque-Regular, 'sans-serif';
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: #1a181e;
  opacity: 0.8;
}

.priceSection,
.discountedPriceSection {
  display: flex;
  justify-content: space-between;
}

.priceSection {
  padding-bottom: 1.4rem;
}

.discountedPriceSection {
  font-size: 2rem;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: #1a181e;
}

.oldPrice {
  font-size: 2rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: #808080;
  text-decoration: line-through;
  padding-left: 0.6rem;
  font-family: GalanoGrotesqueRegular;
  opacity: 0.7;
}

.addButton {
  width: 8.1rem;
  height: 2.8rem;
  border: solid 1px var(--nice-blue);
  border-radius: 0.4rem;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  cursor: pointer;
}

.addButton > img {
  width: 1.2rem;
  height: 1.2rem;
  padding-left: 0.5rem;
}

.addButton > span {
  font-size: 1.4rem;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  color: var(--nice-blue);
  padding-left: 1.6rem;
}

.quantitySection {
  width: 8.1rem;
  height: 2.8rem;
  border: solid 1px var(--nice-blue);
  border-radius: 0.4rem;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
}

.quantitySection > * {
  align-self: center;
  justify-self: center;
}

.quantitySection span {
  font-size: 1.6rem;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  color: var(--nice-blue);
  height: 100%;
  width: 100%;
  display: inline-grid;
  place-items: center;
  background-color: rgba(20, 110, 180, 0.1);
}

.btn {
  cursor: pointer;
}

.outOfStockStyle {
  font-size: 1.4rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  color: #e50b20;
}

/* phones */
@media (max-width: 576px) {
  .container {
    margin: 0;
    border-bottom: 1px solid #d9d9d9;
    padding-bottom: 1.6rem;
    padding-top: 1.6rem;
    height: 9.6rem;
  }

  .container:first-child {
    padding-top: 0;
  }

  .imageSection {
    width: 9.6rem;
    height: 9.6rem;
  }

  .itemImage {
    width: 9.6rem;
    height: 9.6rem;
  }

  .container:last-child {
    border: none;
  }

  .detailsSection {
    margin: 0;
    margin-left: 1.2rem;
  }

  .detailsSection h1 {
    font-size: 1.4rem;
  }

  .detailsSection p {
    font-size: 1.2rem;
  }

  .discountSection {
    right: -1.5rem;
  }

  .discountedPriceSection {
    font-size: 1.5rem;
  }

  .oldPrice {
    font-size: 1.4rem;
    padding-top: 0.1rem;
  }

  .addButton {
    width: 7.3rem;
    height: 2.8rem;
  }

  .addButton span {
    padding-left: 1.2rem;
  }

  .quantitySection {
    width: 7.3rem;
    height: 2.8rem;
  }
}
