.containerFluid {
  width: 100%;
  height: 4rem;
  margin-bottom: 1.2rem;
}

.container {
  margin: 1.2rem 1.6rem 1.2rem 1.6rem;
  display: grid;
  grid-template-columns: 10.4rem 10.4rem 10.4rem;
  grid-gap: 0.3rem;
  height: 4rem;
  justify-content: center;
}

.home,
.bag,
.order {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  cursor: pointer;
}

.home img,
.bag img,
.order img {
  margin-right: 0.6rem;
}

.home {
  background-color: rgba(20, 110, 180, 0.1);
  color: var(--nice-blue);
  border-radius: 2.4rem;
}

.bag:hover,
.order:hover {
  background-color: rgba(20, 110, 180, 0.1);
  color: var(--nice-blue);
  border-radius: 2.4rem;
}

.badge {
  font-size: 1.2rem;
  padding: 0.2rem 0.5rem;
  color: var(--white);
  background-color: var(--red-badge-color);
  border-radius: 1rem;
  font-family: GalanoGrotesqueRegular, 'sans-serif';
  font-weight: normal;
  position: relative;
  top: -1rem;
  left: 1.25rem;
}
