.containerFluid {
  width: 100%;
}

.container {
  margin: 0 16.2rem;
}

.main {
  display: grid;
  grid-template-columns: 23% 54% 23%;
}

.categories,
.items {
  border-right: 1px solid var(--border-color);
}

.categories {
  margin-right: 2px;
}

.cart {
  margin-top: 3.6rem;
  margin-left: 3.2rem;
}

/* tablets */
@media (max-width: 1024px) {
  .container {
    margin: 0 4rem;
  }
}

/* tablets */
@media (max-width: 768px) {
  .header {
    margin: 0 2rem;
  }
}
