.containerFluid {
  width: 100%;
}

.container {
  margin: 0 16.2rem;
}

.main {
  display: grid;
  grid-template-columns: 23% 54% 23%;
}

.categories,
.items {
  border-right: 1px solid var(--border-color);
  height: 100vh;
}
